.navbar-brand {
    font-size: 34px; /* You can adjust the font size as needed */
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-item {
    text-align: center;
    margin: 0 auto; /* Center the items */
}

.bg-custom {
    background-color: #17a2b8;
}

