{% extends 'userpanel.html' %} 
{% load static %} 
{% block content %}


<!--
<div class="main-title">
    <p class="font-weight-bold">DATA <span style="color: dodgerblue;">COLLECTION</span></p>
  </div>

  <div class="main-cards">
    <div class="card">
      <img src="{% static 'images/aff.png' %}">
      <a href="/data_coll">
      <div class="card-inner">
        <p class="text-primary">DISTRUPTIONS</p>
      </div>
      <span class="text-primary font-weight-bold">249</span>
  </a>
    </div>

    <div class="main-cards">
      <div class="card">
        <img src="{% static 'images/aff.png' %}">
        <a href="/data_coll">
        <div class="card-inner">
          <p class="text-primary">DATA COLLECTION</p>
        </div>
        <span class="text-primary font-weight-bold">249</span>
    </a>
      </div>

      <div class="main-cards">
        <div class="card">
          <img src="{% static 'images/aff.png' %}">
          <a href="/data_coll">
          <div class="card-inner">
            <p class="text-primary">DATA PRE-ANALYSIS</p>
          </div>
          <span class="text-primary font-weight-bold">249</span>
      </a>
        </div>
      -->


{% endblock content %}