{% extends 'userpanel.html' %} 
{% load static %} 
{% block content %}

<div class="main-title">
    <p class="font-weight-bold">DATA ANALYSIS</p>
</div>

  <div style="margin-left: 20px;">
    <div class="disruption-form">
      <form action="" method="post">
        
        <div class="row">
          
          <div class="col-md-4">
            <div class="form-group">
              <label  class="form-check-label btn btn-success">Infrastructure and Resources</label>
              <br>
              <label class="form-check-label">Blended learning</label>
              <label class="form-check-label">Digitization</label>
              <label class="form-check-label">Safety measures</label>
              <label class="form-check-label">Technology integration</label>
              <label class="form-check-label">Comprehensive Health and Safety measures</label>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label  class="form-check-label btn btn-success">Educational Development</label>
              <br>
              <label class="form-check-label">Programs and Curriculum Review and update</label>
              <label class="form-check-label">Continuous imporovement and assesment</label>
              <label class="form-check-label">Research and Experiments standardization</label>
              <label class="form-check-label">Profesional development plans</label>
              <label class="form-check-label">Enrollment initiatives</label>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label  class="form-check-label btn btn-success">Financial Management</label>
              <br>
              <label class="form-check-label">Budget optimization</label>
              <label class="form-check-label">Finacial auditing</label>
              <label class="form-check-label">Cash flow analysis</label>
              <label class="form-check-label">Financial Auditing</label>
              <label class="form-check-label">Financial planning</label>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-check-label btn btn-success">Compliance and Governance</label>
              <br>
              <label class="form-check-label">Compliance Management framework</label>
              <label class="form-check-label">Transparent Governance framework</label>
              <label class="form-check-label">Mission-Driven policy alignment</label>
              <label class="form-check-label">Security measures</label>
              <label class="form-check-label">Workforce Planning</label>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-check-label btn btn-success">Community Engagement and Support</label>
              <br>
              <label class="form-check-label">Community Engagement initiatives</label>
              <label class="form-check-label">Accommodation optimization</label>
              <label class="form-check-label">Strategic Recruitment</label>
              <label class="form-check-label">Work flow analysis</label>
              <label class="form-check-label">Mental Health support services</label>
            </div>
          </div>
  
        </div>
      </form>
    </div>
  </div>
  
  


{% endblock content %}