{% extends 'base.html' %}
{% load static %} 

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Team Members</h1>
        <p style="font-size: 20px;">The following are the research members inteldss research that resulted
           to development of the intelligent decision support system project</p>
      </div>
    </div>
    <div class="row">
      <!-- Iterate over team members -->
      {% for member in members %}
      <div class="col-md-3">
        <div class="card">
          <img src="{{ member.image.url }}" class="card-img-top" alt="{{ member.name }}" style="height: 200px; object-fit: cover;">
          <div class="card-body text-center"> 
            <h5 class="card-title font-weight-bold">{{ member.name }}</h5> 
            <p class="card-text" style="margin-bottom: 2px;">{{ member.title }}</p>
            <p class="card-text" >{{ member.university }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock content %}
